

#banner{
    width: 100%;
}

.principal{
    background: #cccccc;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;    
}

#missao{
    font-size: 22px;
}

em strong{
    color: rgb(228, 5, 5);
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 40%;
}


main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}


